*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background: #fff;
  padding: 20px;
}
.fav{
  font-weight: bold;
  font-size: 25px;
}
.baby{
  text-decoration: none;
  font-size: 15px;
  gap: 50px;
  display: flex;
}
.baby a{
  text-decoration: none;
  justify-content: space-between;
  color: black;
  transition: 1s;
}
.parent{
  background-color: rgb(12, 188, 12);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 60px;
  

  
}
.parent div{
  border: 1px solid;
  width:  300px;
  height: 300px;
  margin-top: 100px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px ;
  background-color: rgb(79, 81, 82);
  

}
h1{
  margin-top: 120px;
  text-align: center;
}
.parent div:hover{
  background-color: blue;
  transition: 1.5s;
  border: 5px solid  orange;
}